.modal{
  width: 544px;
  height: 144px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-family: var(--main-font);
  font-weight: var(--font-weight-medium);
}

.modalButtons{
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  line-height: 1.33;
}

.title{
  font-size: 26px;
  line-height: 1.23;
  color: var(--primary-black-color);
}
.text{
  font-size: 18px;
  line-height: 1.11;
}

.buttonCancel{
  border-radius: 10px;
  padding: 10px 30px;
  width: 160px;
  height: 44px;
  background: var(--secondary-light-blue);
  color: var(--primary-blue-color);
}

.buttonLogout{
  border-radius: 10px;
  padding: 10px 30px;
  width: 160px;
  height: 44px;
  box-shadow: 0 4px 8px 0 rgba(64, 123, 255, 0.34);
  background: var(--red-accent-color);
  color: var(--primary-white-color);
}

.buttonCancel:hover,
.buttonLogout:hover{
  box-shadow: 0 4px 14px 0 rgba(64, 123, 255, 0.54);
}
.buttonLogout:active,
.buttonCancel:active{
  box-shadow: none;
}
.buttonCancel:focus,.buttonLogout:focus{
  outline: transparent;
} 
@media screen and (max-width: 768px) {
  .modal{
    width: 232px;
    height: 196px;
  }
  .modalButtons{
    flex-direction: column-reverse;
    gap: 24px;
    font-size: 16px;
    line-height: 1.25;
  }
  .buttonCancel{
    padding: 8px 30px;
    width: 100%;
    height: 36px;
  }

  .buttonLogout{
    padding: 8px 30px;
    width: 100%;
    height: 36px;
  }
}

@media screen and (min-width:769px) and (max-width:1439px ) {
  .modalButtons{
    align-self: flex-end; 
  }
}

@media screen and (min-width:769px) {
  .modalButtons{
    width: 344px;
  }
}