.container {
  max-width: 280px;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 704px;
    padding-right: 32px;
    padding-left: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1216px;
  }
}
