.button {
  position: relative;
  z-index: 99;
  border: none;
  display: flex;
  gap: 8px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}

.icon {
  width: 16px;
  height: 16px;
  color: #407bff;
}

.headerIcon {
  margin-right: 6px;
  width: 28px;
  height: 28px;
  fill: #ffffff;
  stroke: #2f2f2f;
}

.name {
  text-transform: capitalize;
  font-size: 16px;
  font-weight: var(--font-weight-regular);
  line-height: 20px;
}

.userAvatar {
  width: 28px;
  height: 28px;
  border-radius: 50%;
}
@media screen and (min-width: 768px) {
  .name {
    line-height: 24px;
  }
}

.letter {
  width: 28px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--primary-blue-color);
  border-radius: 50%;
}