.monthStateWrapper {
  max-width: 264px;
  height: 506px;
  margin: 0 auto;
}

.monthStateDate {
  display: flex;
  width: 100%;
  height: 30px;
  margin-bottom: 16px;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 24px;
  line-height: 1.25;
  color: var(--primary-black-color);
}

.paginationWrap {
  display: flex;
  min-width: 150px;
  height: 20px;
  justify-content: space-between;
}

.paginationBtn {
  display: block;
  width: 14px;
  padding: 2px 0;
  align-items: center;
  background-color: var(--bg-button-and-text-blue-color);
  border: none;
  cursor: pointer;
}

.date {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: var(--primary-blue-color);
}

.list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 26px;
  grid-row-gap: 16px;
  width: 100%;
}

.item {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 32px;
  gap: 4px;
  align-items: center;
  cursor: pointer;
}

.belowNorma {
  border: 1px solid var(--orange-accent-color);
}

.day {
  display: block;
  width: 100%;
  height: 100%;
  padding: 7px;
  text-align: center;

  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28;
  color: var(--primary-black-color);
  background-color: var(--primary-white-color);
  border-radius: 50%;
  transition: transform var(--transition-timing-function);
}

.day:hover,
.day:focus {
  box-shadow: 0 4px 4px 0 var(--shadow-secondary-dark-blue);
  transform: scale(1.1);
}

.dailyNorma {
  width: 100%;
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 10px;
  line-height: 1.6;
  text-align: center;
  color: var(--light-blue-text);
}

.icon {
  width: 16px;
  height: 16px;
  margin: 0;
  fill: var(--primary-blue-color);
}

.paginationBtn[disabled] .icon {
  fill: rgb(180, 180, 180);
}

@media screen and (min-width: 768px) {
  .monthStateWrapper {
    max-width: 656px;
    height: 340px;
  }

  .monthStateDate {
    height: 32px;
  }

  .title {
    font-size: 26px;
    line-height: 1.23;
  }

  .list {
    grid-template-columns: repeat(10, 1fr);
    grid-column-gap: 34px;
    grid-row-gap: 20px;
  }

  .item {
    width: 34px;
    gap: 1px;
  }

  .day {
    font-size: 16px;
    line-height: 1.25;
  }

  .dailyNorma {
    font-size: 13px;
    line-height: 1.5;
  }
}

@media screen and (min-width: 1440px) {
  .monthStateWrapper {
    max-width: 544px;
    height: 332px;
  }

  .list {
    grid-column-gap: 22px;
    grid-row-gap: 20px;
  }
}
