@media screen and (max-width: 768px) {
  .input {
    width: 100%;
  }
}

.input {
  padding: 12px 10px;
  border: 1px solid #d7e3ff;
  border-radius: 6px;
  font-family: Roboto;
  color: var(--light-blue-text);
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-regular);
  line-height: 1.25;
  outline: none;
}

.input::placeholder {
  color: var(--light-blue-text);
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-regular);
  line-height: 1.25;
}

.input:focus,
.input:focus::placeholder {
  color: var(--primary-blue-color);
}

.error {
  color: var(--red-accent-color);
  border: 1px solid var(--red-accent-color);
}
