.bottle {
  background-image: url("../../Images/signIn-signUp/bottle/mobile/bottle_mobile@1x.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  position: absolute;
  width: 280px;
  height: 210px;
  left: 20px;
  top: 450px;
  z-index: -1;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .bottle {
    background-image: url("../../Images/signIn-signUp/bottle/mobile/bottle_mobile@2x.png");
  }
}

.bubbles {
  background-image: url("../../Images/signIn-signUp/back/mobile/back_mobile@1x.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  position: absolute;
  width: 327.22px;
  height: 841.7px;
  left: 0;
  top: 0;
  z-index: -1;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .bubbles {
    background-image: url("../../Images/signIn-signUp/back/mobile/back_mobile@2x.png");
  }
}

@media screen and (min-width: 768px) {
  .bottle {
    background-image: url("../../Images/signIn-signUp/bottle/tablet/bottle_tablet@1x.png");
    width: 736px;
    height: 548px;
    left: 112px;
    top: 116px;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .bottle {
      background-image: url("../../Images/signIn-signUp/bottle/tablet/bottle_tablet@2x.png");
    }
  }

  .bubbles {
    background-image: url("../../Images/signIn-signUp/back/tablet/back_tablet@1x.png");
    width: 768px;
    height: 680px;
    left: 0;
    top: 0;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .bubbles {
      background-image: url("../../Images/signIn-signUp/back/tablet/back_tablet@2x.png");
    }
  }
}

@media screen and (min-width: 1440px) {
  .bottle {
    background-image: url("../../Images/signIn-signUp/bottle/desktop/bottle_desktop@1x.png");
    width: 916px;
    height: 680px;
    left: -51px;
    top: 80px;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .bottle {
      background-image: url("../../Images/signIn-signUp/bottle/desktop/bottle_desktop@2x.png");
    }
  }

  .bubbles {
    background-image: url("../../Images/signIn-signUp/back/desktop/back_desktop@1x.png");
    width: 1404px;
    height: 582px;
    left: 18px;
    top: 109px;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .bubbles {
      background-image: url("../../Images/signIn-signUp/back/desktop/back_desktop@2x.png");
    }
  }
}
