.shadow {
  background-image: url("../../Images/home/home-bottles/mobile/mobile-shadow-1x.png");
  background-repeat: no-repeat;
  position: absolute;
  width: 217.16px;
  height: 12.64px;
  left: 50%;
  transform: translate(-50%);
  top: 357.36px;
  z-index: -1;
}

.splash1 {
  background-image: url("../../Images/home/home-bottles/mobile/mobile-splash1-1x.png");
  background-repeat: no-repeat;
  position: absolute;
  width: 190.27px;
  height: 62.79px;
  left: 50%;
  transform: translate(-50%);
  top: 302.79px;
  z-index: -1;
}

.splash2 {
  background-image: url("../../Images/home/home-bottles/mobile/mobile-splash2-1x.png");
  background-repeat: no-repeat;
  position: absolute;
  width: 126.93px;
  height: 97.91px;
  left: 50%;
  transform: translate(-50%);
  top: 262.73px;
  z-index: -1;
}

.bottleOfWater {
  background-image: url("../../Images/home/home-bottles/mobile/mobile-bottle-of-water-1x.png");
  background-repeat: no-repeat;
  position: absolute;
  width: 81.12px;
  height: 180.01px;
  left: 50%;
  transform: translate(-50%);
  top: 180.32px;
  z-index: -1;
}

.bubbles {
  background-image: url("../../Images/home/home-backgrounds/mobile-home-background-1x.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  position: absolute;
  width: 327.22px;
  height: 1309.31px;
  left: 50%;
  transform: translate(-50%);
  top: 108px;
  z-index: -1;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .bubbles {
    background-image: url("../../Images/home/home-backgrounds/mobile-home-background-2x.png");
  }
}

@media screen and (min-width: 768px) {
  .shadow {
    background-image: url("../../Images/home/home-bottles/tablet/tablet-shadow-1x.png");
    width: 401.74px;
    height: 23.45px;
    top: 466.55px;
  }

  .splash1 {
    background-image: url("../../Images/home/home-bottles/tablet/tablet-splash1-1x.png");
    width: 352.01px;
    height: 116.53px;
    top: 365.28px;
  }

  .splash2 {
    background-image: url("../../Images/home/home-bottles/tablet/tablet-splash2-1x.png");
    width: 234.82px;
    height: 181.7px;
    top: 290.93px;
  }

  .bottleOfWater {
    background-image: url("../../Images/home/home-bottles/tablet/tablet-bottle-of-water-1x.png");
    width: 150.07px;
    height: 334.06px;
    top: 137.99px;
  }

  .bubbles {
    background-image: url("../../Images/home/home-backgrounds/tablet-home-background-1x.png");
    width: 768px;
    height: 1280px;
    top: 88px;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .bubbles {
      background-image: url("../../Images/home/home-backgrounds/tablet-home-background-2x.png");
    }
  }
}

@media screen and (min-width: 1440px) {
  .section {
    width: 1440px;
    margin: 0 auto;
    position: relative;
  }

  .shadow {
    background-image: url("../../Images/home/home-bottles/desktop/desktop-shadow-1x.png");
    width: 572.36px;
    height: 33.3px;
    left: 121.49px;
    transform: translate(0);
    top: 536.7px;
  }

  .splash1 {
    background-image: url("../../Images/home/home-bottles/desktop/desktop-splash1-1x.png");
    width: 501.51px;
    height: 165.44px;
    left: 151.57px;
    transform: translate(0);
    top: 392.94px;
  }

  .splash2 {
    background-image: url("../../Images/home/home-bottles/desktop/desktop-splash2-1x.png");
    width: 334.55px;
    height: 297.96px;
    left: 241.09px;
    transform: translate(0);
    top: 287.38px;
  }

  .bottleOfWater {
    background-image: url("../../Images/home/home-bottles/desktop/desktop-bottle-of-water-1x.png");
    width: 213.81px;
    height: 474.26px;
    left: 298.55px;
    transform: translate(0);
    top: 70.26px;
  }

  .bubbles {
    background-image: url("../../Images/home/home-backgrounds/desktop-home-background-1x.png");
    width: 1404px;
    height: 582px;
    top: 59px;
    left: 9px;
    transform: translate(0);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .bubbles {
      background-image: url("../../Images/home/home-backgrounds/desktop-home-background-2x.png");
    }
  }
}
