/* !=================================== */
.rippleButton {
  position: relative;
  overflow: hidden;
  transition: background-color 0.4s ease;
  border-radius: 10px;
  width: 100%;
  z-index: 100;
}

.rippleEffect {
  position: absolute;
  border-radius: 50%;
  background: rgba(138, 227, 250, 0.235);
  width: 10px;
  height: 10px;
  transform: scale(0);
  animation: ripple-animation 2s ease-out;
  pointer-events: none;
  z-index: 10;
}

@keyframes ripple-animation {
  to {
    transform: scale(50);
    opacity: 0;
  }
}
