.div {
  display: flex;
  /* background-repeat: no-repeat;
  background-position: center;
  background-size: cover; */
  background-repeat: no-repeat;
margin-left: auto;
margin-right: auto;
    justify-content: center;
    /* align-items: center; */
}

    .container{
display: flex;
  }

/* phone style **********************************/
@media screen and (max-width: 767px) {
  .div {
    min-width: 280px;
  background-image:  url("../../../public/Images/SIgnUp-SignIn/backgrnd350.png"); 
  background-position: center 64px;
 
  }
  .container{

  }
}
/* tablet 750**************************** */
@media screen and (min-width: 768px) {
  .div {    
  background-image:  url("../../../public/Images/SIgnUp-SignIn/Backgrnd750.png"); 
    background-position-y: 26px;

background-position-x: center;
object-fit: none;

  }
    .container{      
    justify-content: left;
    width: 704px;
  }
}
/* note 1440 **********************************/
@media screen and (min-width: 1440px) {
  .div{
   background-image:  url("../../../public/Images/SIgnUp-SignIn/Backgrnd1440.png"); 
  }
      .container{   
        width: 1216px;   
    justify-content: right;
    width: 1216px;
  }
}

