.div {
  display: flex;
  /* background-repeat: no-repeat;
  background-position: center;
  background-size: cover; */
}

/* phone style **********************************/
@media screen and (max-width: 767px) {
  .div {
    width: 320px;
  }
}
/* tablet 750**************************** */
@media screen and (min-width: 768px) {
  .div {
    width: 768px;
  }
}
/* note 1440 **********************************/
@media screen and (min-width: 1440px) {
  .div {
    width: 1440px;
    align-items: right;
    justify-content: right;
  }
}
