.backdrop {
  background-color: transparent;
  width: 118px;
  height: 88px;
}
.modal {
  position: absolute;
  z-index: 10;
  top: 60px;
  right: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 118px;
  height: 88px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 4px 8px 0px rgba(64, 123, 255, 0.2);
}
.list {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}
.icon {
  margin-right: 8px;
}

.LogoModalBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px;
  background-color: white;
  border: none;
  cursor: pointer;
  color: #407bff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
