@media screen and (min-width: 320px) {
  .backdrop {
    position: absolute;
    width: 118px;
    padding: 16px;
    top: 7%;
    right: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: var(--primary-white-color);
    box-shadow: 0px 4px 8px 0px rgba(64, 123, 255, 0.2);
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 0.3s ease, transform 0.3s ease;
    pointer-events: none;
  }

  .isOpen {
    opacity: 1;
    transform: scale(1);
    pointer-events: auto;
  }

  .isClosing {
    opacity: 0;
    transform: scale(0.9);
    pointer-events: none;
  }
  .list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
  }
  .icons {
    color: var(--primary-blue-color);
    margin: 0;
    margin-right: 8px;
  }

  .LogoModalBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
    background-color: white;
    border: none;
    cursor: pointer;
    color: var(--primary-blue-color);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
  }
}
@media screen and (min-width: 768px) {
  .backdrop {
    top: 8%;
    right: 3%;
  }
}
@media screen and (min-width: 1024px) {
  .backdrop {
    top: 7%;
  }
}

@media screen and (min-width: 1440px) {
  .backdrop {
    top: 7%;
    right: 7%;
  }
}
