.title {
  margin: 0 0 16px;
}

@media (min-width: 768px) {
  .title {
    font-size: 26px;
  }
}

.entries-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.empty {
  color: var(--primary-blue-color, #407bff);
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 152px;
}

@media (min-width: 768px) {
  .empty {
    margin-bottom: 156px;
  }
}

.entries {
  max-height: 275px;
}

@media (min-width: 768px) {
  .entries {
    max-height: 280px;
  }
}

.list-entry {
  height: 180px;
  overflow-y: auto;
  padding-right: 10px;
  border-bottom: 1px solid #d7e3ff;
}

.btn-add {
  padding: 18px 0;
  height: 50px;
  background-color: transparent;
  border: none;
  color: var(--primary-blue-color, #407bff);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  display: flex;
  align-items: center;
  gap: 8px;
  border-bottom: 1px solid #d7e3ff;
  transition: color 0.3s ease;
}

.btn-add:hover,
.btn-add:focus {
  color: var(--orange-accent-color, #ff9d43);
}

@media (min-width: 768px) {
  .btn-add {
    font-size: 18px;
  }
}

.plus {
  font-size: 25px;
}

@media (min-width: 768px) {
  .plus {
    font-size: 35px;
  }
}

::-webkit-scrollbar {
  width: 4px;
  border-radius: 8px;
}

::-webkit-scrollbar-track {
  background-color: #d7e3ff;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background: rgba(158, 187, 255, 1);
  border-radius: 12px;
}
