.section {
  padding-top: 24px;
  padding-bottom: 5rem;
}

@media screen and (min-width: 768px) {
  .section {
    padding-top: 40px;
  }
}

@media screen and (min-width: 1440px) {
  .section {
    padding-top: 80px;
  }
}
