.title {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 26px;
  line-height: 1.23;
  margin-bottom: 24px;
  color: var(--primary-black-color);
}

.formulas {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: var(--primary-black-color);
}

.formulasSpan {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.33;
  color: var(--primary-blue-color);
}

.formulaDescription {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  color: #8f8f8f;
  margin-bottom: 24px;
  border: 1px solid var(--secondary-light-blue);
  border-radius: 10px;
  padding: 10px;
  width: 100%;
  height: auto;
}

.span {
  color: var(--primary-blue-color);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.labelTitle {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 18px;
  line-height: 1.11;
  color: var(--primary-black-color);
}

.label {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  margin-bottom: 5px;
  color: var(--primary-black-color);
}

.labelSpam {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.33;
  color: var(--primary-blue-color);
}

.input {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: var(--primary-blue-color);
  padding: 12px 10px;
  border-radius: 6px;
  border: 1px solid rgb(215, 227, 255);
  width: 100%;
  margin-top: 8px;
  outline: none;
}

.inputSubmit {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: var(--primary-blue-color);
  padding: 12px 10px;
  border-radius: 6px;
  border: 1px solid rgb(215, 227, 255);
  width: 100%;
  margin-top: 16px;
  outline: none;
}

.inputSubmit::placeholder,
.input::placeholder {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: #d7e3ff;
}

.inputSubmitError {
  color: var(--red-accent-color);
  border-color: var(--red-accent-color);
}

.errorMsg {
  color: var(--red-accent-color);
}

/* .radioLabel {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: var(--primary-black-color);
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  margin-right: 20px;
  position: relative;
}

.radioInput {
  display: none;
}

.radioMark {
  width: 16px;
  height: 16px;
  border: 1px solid var(--primary-blue-color);
  border-radius: 50%;
  position: relative;
  margin-right: 8px;
}

.radioInput:checked + .radioMark::after {
  content: "";
  width: 8px;
  height: 8px;
  background-color: var(--primary-blue-color);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */

.btn {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  color: var(--primary-white-color);
  background-color: var(--primary-blue-color);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 10px;
  box-shadow: 0 4px 8px 0 rgba(64, 123, 255, 0.34);
}

.btn:hover,
.btn:focus {
  box-shadow: 0 4px 14px 0 rgba(64, 123, 255, 0.54);
}

.btn:active {
  box-shadow: none;
}

@media screen and (max-width: 767px) {
  .container {
    border-radius: 10px;
    max-width: 280px;
    height: auto;
  }

  .formulasContainer {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 12px;
  }

  .btn {
    width: 256px;
    height: 36px;
    padding: 8px 30px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 704px;
  }

  .formulasContainer {
    display: flex;
    gap: 24px;
    margin-bottom: 12px;
  }

  .btn {
    width: 160px;
    height: 44px;
    padding: 10px 30px;
    align-self: flex-end;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    width: 592px;
  }
}
