.container {
  border-radius: 10px;
  padding: 32px 24px;
  width: 592px;
  height: 712px;
}

.title {
  font-weight: 500;
  font-size: 26px;
  line-height: 1.23;
  margin-bottom: 24px;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.ModalContainer {
  background: white;
  border-radius: 8px;
  padding: 20px;
  max-width: 500px;
  width: 100%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
}

.CloseButton {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background: none;
  font-size: 20px;
  cursor: pointer;
}

.formulasContainer {
  display: flex;
  gap: 24px;
  margin-bottom: 12px;
}

.formulas {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
}

.formulasSpan {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.33;
  color: #407bff;
}

.formulaDescription {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  color: gray;
  margin-bottom: 24px;
  border: 1px solid rgb(215, 227, 255);
  border-radius: 10px;
  padding: 10px;
  width: 544px;
  height: 68px;
}

.span {
  color: #407bff;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.labelTitle {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.11;
}

.label {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  margin-bottom: 5px;
}

.labelSpam {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.33;
  color: #407bff;
}

.input {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: #407bff;
  padding: 12px 10px;
  border-radius: 6px;
  border: 1px solid rgb(215, 227, 255);
  width: 100%;
  margin-top: 8px;
  width: 544px;
  height: 44px;
}

.radioGroup {
  display: flex;
  gap: 20px;
}

.radioLabel {
  font-size: 14px;
}

.btn {
  width: 160px;
  height: 44px;
  background-color: #407bff;
  color: white;
  padding: 10px 30px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 10px;
  box-shadow: 0 4px 8px 0 rgba(64, 123, 255, 0.34);
}

/* .ErrorNotification {
  color: red;
  font-size: 12px;
  margin-top: 5px;
} */
