.form-container {
  width: 256px;
  user-select: none;
}

@media screen and (min-width: 768px) {
  .form-container {
    width: 656px;
  }
}

@media screen and (min-width: 1439px) {
  .form-container {
    width: 960px;
  }
}

@media screen and (min-width: 1440px) {
  .desktop-flex {
    display: flex;
    column-gap: 24px;
    margin-bottom: 24px;
  }
}

.subtitle,
.label {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.1;
  margin-bottom: 8px;
}

.subtitle {
  margin-bottom: 12px;
}

.gender-identity-group,
.name-group,
.email-group {
  margin-bottom: 24px;
}

.password-group {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  margin-bottom: 24px;
}

@media screen and (min-width: 1440px) {
  .gender-identity-group {
    margin-bottom: 52px;
  }

  .email-group,
  .password-group {
    margin-bottom: unset;
  }
}

.photo-group {
  margin-bottom: 24px;
}

@media screen and (min-width: 1440px) {
  .your-gender-identity-group {
    margin-bottom: 52px;
  }
}

@media screen and (min-width: 1440px) {
  .name-group {
    margin-bottom: 24px;
  }
}

@media screen and (min-width: 1440px) {
  .desktop-form-flex {
    display: flex;
    column-gap: 24px;
    margin-bottom: 24px;
  }
}

.input-wrapper {
  position: relative;
}

@media screen and (min-width: 768px) {
  .input-wrapper {
    width: 392px;
  }
}

.input {
  width: 100%;
  padding: 12px 10px;
  padding-right: 30px;
  border: 1px solid #d7e3ff;
  border-radius: 6px;
  background-color: transparent;
  color: var(--primary-blue-color);
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-regular);
  line-height: 1.25;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  outline: none;
  cursor: pointer;
}


.input::placeholder {
  color: var(--light-blue-text);
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-regular);
  line-height: 1.25;
}

.error-input {
  color: var(--red-accent-color);
  border-color: var(--red-accent-color);
}

.error-input::placeholder {
  color: var(--red-accent-color);
}

.error-message {
  position: absolute;
  left: 0;
  font-size: 14px;
  font-weight: var(--font-weight-regular);
  line-height: 1.3;
  color: var(--red-accent-color);
}

.eye-button {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  height: 100%;
  padding-top: 12px;
  padding-right: 10px;
  padding-bottom: 12px;
  background-color: transparent;
}

.eye-icon {
  stroke: none;
  width: 16px;
  height: 16px;
  stroke: #407bff;
}

.submit-button {
  width: 100%;
  padding: 8px 30px;
  background-color: var(--primary-blue-color);
  color: var(--primary-white-color);
  box-shadow: 0px 4px 8px 0px #407bff57;
  line-height: 1.25;
  line-height: 20px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .button-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
}

@media screen and (min-width: 768px) {
  .submit-button {
    width: 160px;
  }
}

.sumbit-button:hover {
  box-shadow: 0px 4px 14px 0px #407bff8a;
}

.submit-button:active {
  outline: none;
  border: none;
  box-shadow: none;
}

.submit-button:disabled {
  cursor: not-allowed;
  background-color: dimgrey;
  color: var(--primary-white-color);
  opacity: 1;
}
