.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
}

@media screen and (max-width: 768px) {
  .modal {
    max-width: 280px;
  }
}

.modal {
  position: relative;
  padding: 24px 12px;
  border-radius: 10px;
  background-color: #ffffff;
}

.no-scroll {
  overflow: hidden;
}

.close-button {
  position: absolute;
  top: 24px;
  right: 12px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
  box-shadow: none;
  outline: none;
}

.close-button:active {
  outline: none;
}

.close-icon {
  width: 24px;
  height: 24px;
  fill: var(--primary-blue-color);
  stroke: var(--primary-blue-color);
}
