@media screen and (min-width: 320px) {
  .header {
    /* min-width: 280px; */
    /* margin: 0 auto; */
    width: 100%;
    padding-top: 8px;
  }
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* min-width: 320px; */
    width: 320px;
    /* max-width: 320px; */
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .header {
    padding-top: 16px;
    /* min-width: 704px; */
    /* margin: 0 auto; */
  }
  .container {
    /* max-width: 744px; */
    width: 744px;
    /* padding-left: 32px;
    padding-right: 32px; */
  }
}
@media screen and (min-width: 1440px) {
  .header {
    padding-top: 12px;
    /* min-width: 1216px;
    max-width: 1440px;
    margin: 0 auto; */
    /* width: 100%; */
  }
  .container {
    max-width: 1256px;
    /* padding-top: 12px;
    padding-left: 112px;
    padding-right: 112px; */
    /* padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto; */
  }
}
