@media screen and (min-width: 320px) {
  .header {
    width: 100%;
    padding-top: 8px;
  }
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 320px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .header {
    padding-top: 16px;
  }
  .container {
    max-width: 744px;
  }
}
@media screen and (min-width: 1440px) {
  .header {
    padding-top: 12px;
  }
  .container {
    max-width: 1256px;
  }
}
