.photo-flex {
    display: flex;
    align-items: center;
    column-gap: 8px;
  }
  
  .upload-button {
    background-color: transparent;
    border: none;
    padding: 0;
  }
  
  .avatar-container {
    width: 80px;
    height: 80px;
    overflow: hidden;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .avatar {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  
  .file-upload-label {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    color: var(--primary-blue-color);
    line-height: 18px;
    text-align: left;
    cursor: pointer;
  }
  
  .label {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
  }
  
  .upload-icon {
    width: 16px;
    height: 16px;
    fill: var(--primary-blue-color);
    stroke: var(--primary-blue-color);
    margin-right: 8px;
    margin-left: 0;
  }

  .blocked-upload {
    cursor: not-allowed;
    color: dimgrey;
    fill: dimgrey;
    stroke: dimgrey;
  }
  
  .file-input {
    display: none;
  }
  