.form_box {
  color: #2f2f2f;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  font-family: var(--main-font);
}
.title {
  text-align: left;
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.23;
  color: #2f2f2f;
}
.link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: #407bff;
}
.form {
  background-color: transparent;
}

.label {
  display: flex;
  flex-direction: column;
  /* padding-top: 16px; */
  font-weight: 400;
  font-size: 18px;
  line-height: 1.3;
}
.btn {
  display: flex;
  padding: 10px 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  background: var(--primary-blue-color, rgba(64, 123, 255, 0.34));
  box-shadow: 0px 4px 8px 0px rgba(64, 123, 255, 0.34);
  color: var(--primary-white-color, rgb(255, 255, 255));
  text-align: center;
  font-family: var(--main-font);
  font-size: 18px;
  font-style: normal;
  font-weight: var(--font-weight-medium);
  line-height: 1.33333;
  width: 100%;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn:hover,
.btn:focus {
  box-shadow: 0 4px 14px 0 rgba(64, 123, 255, 0.54);
}
.btn:active {
  box-shadow: none;
}

.msgErr {
  color: #ef5050;
}

.field {
  border: 1px solid #d7e3ff;
  border-radius: 6px;
  padding: 12px 10px;
  width: 100%;
  margin-top: 8px;
  background-color: transparent;
  outline: 0px transparent;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: #9ebbff;
}

.field:hover,
.field:focus,
.field:active {
  border-radius: 6px;
  padding: 12px 10px;
  background-color: transparent;
}

.field::placeholder {
  color: #d7e3ff;
  background-color: #ffffff;
}

.fieldError {
  color: #ef5050;
  border: 1px solid #ef5050;
}
.fialdStyle {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.blockField {
  position: relative;
}
.eyebtn {
  position: absolute;
  background-color: transparent;
  border: none;
  color: #407bff;
  width: 44px;
  height: 44px;
  padding: none;
  right: 0;
  top: 50%;
  transform: translate(-2px, -5px);
}

.eye {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: #407bff;
  fill: #407bff;
  outline-color: none;
}
/* phone style **********************************/
@media screen and (max-width: 767px) {
  .form_box {
    width: 280px;
    margin-top: 31px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 197px;
    justify-content: center;
    align-items: left;
  }
}
/* tablet 750**************************** */
@media screen and (min-width: 768px) {
  .form_box {
    width: 336px;
    margin-top: 40px;
    margin-bottom: 172px;
    justify-content: left;
  }
}
/* note 1440 **********************************/
@media screen and (min-width: 1440px) {
  .form_box {
    width: 384px;
    margin-top: 148px;
    margin-bottom: 196px;
    margin-right: 216px;

    justify-content: right;
  }
}
