.welcomeContainer {
    display: flex;
    flex-direction:column ;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: var(--primary-white-color);
    min-height: 100vh;
}

.welcomeContent {
    max-width: 1200px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.trackerSection {
    flex: 1;
    margin-right: 16px;
}

.whyDrinkSection {
    flex: 1;
    margin-left: 16px;
}

.backgroundElement {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
}