/* Базові стилі для мобільних пристроїв (320px і вище) */
.welcomeContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 16px;
    background-color: transparent;
    min-height: 100vh;
    margin: 0 auto;
    padding-top: 20px;
    max-width: 100%;
    min-height: 100vh;
    position: relative;
}

.backgroundElement {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('src/Images/welcome-page/Mobile.png') no-repeat center center;
    background-size: cover;
    z-index: -1;
}

.welcomeContent {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
    max-width: 100%;
    width: 100%;
}

.trackerSection,
.whyDrinkSection {
    flex-basis: 100%;
    flex: none;
    margin: 0 0 16px 0;
    width: 100%;
}

/* Перелом 768px і вище (планшети) */
@media screen and (min-width: 768px) {
    .welcomeContainer {
        margin-top: 40px;
        padding: 30px;
    }

    .backgroundElement {
    background: url('src/Images/welcome-page/Tablet.png') no-repeat center center;
}

    .welcomeContent {
        flex-direction: row;
        /* Ряд для планшетів і вище */
        align-items: flex-start;
    }

    .trackerSection,
    .whyDrinkSection {
        flex-basis: 48%;
        flex: 1;
        margin: 0 10px;
        max-width: 48%;
        /* Максимальна ширина 48% */
    }
}

/* Перелом 1440px і вище (десктопи) */
@media screen and (min-width: 1440px) {
    .welcomeContainer {
        margin-top: 49px;
        padding: 20px;
        max-width: 1014px;
    }

    .backgroundElement {
    background: url('src/Images/welcome-page/Desktop.png') no-repeat center center;
}

    .welcomeContent {
        max-width: 1200px;
    }

    .trackerSection {
        flex-basis: 48%;
        flex: 1;
        margin-right: 20px;
        max-width: 494px;
    }

    .whyDrinkSection {
        flex: 1;
        margin-left: 20px;
        max-width: 439px;
    }
}