.whyDrinkWater {
    padding: 20px;
    background-color: var(--secondary-light-blue-color);
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
    flex-basis: 48%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.whyDrinkWater h3 {
    font-size: 18px;
    font-weight: var(--font-weight-medium);
    color: var(--primary-black-color);
    margin-bottom: 20px;
}

.whyDrinkWater ul {
    list-style: none;
    padding-left: 0;
}

.whyDrinkWater li {
    font-size: var(--font-size-base);
    font-weight: var(--font-weight-regular);
    color: #2b2b2b;
    margin-bottom: 10px;
    position: relative;
    padding-left: 20px;
}

.whyDrinkWater li:before {
    content: '•';
    position: absolute;
    left: 0;
    color: var(--primary-blue-color);
    font-size: 30px;
    top: 50%;
    transform: translateY(-50%);
    width: 8px;
    height: 8px;
    border-radius: 50%
}