.whyDrinkWater {
    margin-top: 30px;
    padding: 20px;
    background-color: var(--secondary-light-blue-color);
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
}

.whyDrinkWater h3 {
    font-size: 24px;
    font-weight: bold;
    color: var(--primary-black-color);
    margin-bottom: 20px;
}

.whyDrinkWater ul {
    list-style: none;
    padding-left: 0;
}

.whyDrinkWater li {
    font-size: 16px;
    color: #2b2b2b;
    margin-bottom: 10px;
    position: relative;
    padding-left: 20px;
}

.whyDrinkWater li:before {
    content: '•';
    position: absolute;
    left: 0;
    color: var(--primary-blue-color);
    /* Цвет точки перед элементами списка */
    font-size: 20px;
    line-height: 1;
}