.signinPageWrapper {
  padding: 24px 20px;
  color: #2f2f2f;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.signinPageTitle {
  margin-bottom: 16px;
  text-align: left;
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.23;
  color: #2f2f2f;
}

/* .eyeBtn {
  border: none;
  top: calc(50% + 34px);
  right: 4%;
  cursor: pointer;
  color: grey;
  width: 16px;
  height: 16px;
  border-radius: 30px;
  border: transparent;
  outline-color: none;
} */

.faEye {
  position: absolute;
  top: 12px;
  right: 10px;
  stroke: none;
  width: 28px;
  height: 28px;
  fill: #407bff;
  outline-color: none;
}

.form {
  row-gap: 16px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  width: 280px;
}

.label {
  color: black;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.33;
}

.inputError {
  color: #ef5050;
  border-color: #ef5050;
}

.errorMsg {
  color: #ef5050;
}

.passwordWrapper {
  position: relative;
  height: 50px;
}

.input {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.33333;
  border-radius: 6px;
  padding: 12px 10px;
  border: 1px solid #d7e3ff;
  outline: none;
}

.input:hover,
.input:focus,
.input:active {
  border: 1px solid #d7e3ff;
  border-color: none;
  border-radius: 6px;
  padding: 12px 10px;
  background-color: transparent;
  color: #407bff;
}

.input::placeholder {
  color: #d7e3ff;
  background-color: #ffffff;
}

.signinPageButton {
  display: flex;
  padding: 10px 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  background: var(--primary-blue-color, rgba(64, 123, 255, 0.34));
  box-shadow: 0px 4px 8px 0px rgba(64, 123, 255, 0.34);
  color: var(--primary-white-color, rgb(255, 255, 255));
  text-align: center;
  font-family: var(--main-font);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.33333;
  width: 100%;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.signinPageButton:hover,
.signinPageButton:focus {
  box-shadow: 0px 4px 14px 0px rgba(64, 123, 255, 0.54);
}

.signinPageButton:active {
  box-shadow: none;
}

.signinPageLink {
  color: var(--primary-blue-color, rgb(64, 123, 255));
  font-family: var(--main-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.signinPageLink:hover,
.signinPageLink:focus {
  color: var(--orange-accent-color, rgb(255, 157, 67));
}

@media screen and (min-width: 768px) {
  .form {
    top: 0;
    left: 0;
    width: 336px;
  }

  .signinPageWrapper {
    padding: 40px 32px;
    position: relative;
  }

  .signinPageForm {
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 16px;
    width: 336px;
    margin-left: 0;
    margin-right: auto;
  }

  .signinPageButton {
    padding: 10px 30px;
    font-size: 18px;
    line-height: 1.33;
  }
}

@media screen and (min-width: 1440px) {
  .signinPageWrapper {
    padding: 162px 0;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row-reverse;
  }

  .signinPageForm {
    width: 384px;
    margin-top: 0;
    margin-right: 0;
  }

  .form {
    width: 384px;
    margin-right: 0;
  }
}
