.statsContainer {
  position: absolute;

  border-radius: 10px;
  padding: 24px 13px;
  width: 280px;
  height: 188px;
  box-shadow: 0 4px 4px 0 rgba(64, 123, 255, 0.3);
  background: var(--primary-white-color);
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.statsModalFirstColumn {
  bottom: 65px;
  right: -240px;
}

.statsModalSecondColumn {
  bottom: 65px;
  right: -182px;
}

.statsModalThirdColumn {
  bottom: 65px;
}

.statsModalFourthColumn {
  bottom: 65px;
  right: -66px;
}

.statsModalFifthColumn {
  bottom: 65px;
  right: -8px;
}

.statsInfoDate {
  height: 20px;
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: var(--primary-blue-color);
}

.statsInfo {
  display: flex;
  align-items: center;
  gap: 6px;
  height: 24px;
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: var(--primary-black-color);
}

.statsInfoValue {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.33;
  color: var(--primary-blue-color);
}

@media screen and (min-width: 768px) {
  .statsContainer {
    padding: 24px 16px;
    width: 292px;
  }

  .statsModalRight {
    bottom: 100%;
    left: 17px;
  }

  .statsModalLeft {
    bottom: 100%;
    right: 17px;
  }
}
